In [325]:
from random import shuffle

In [357]:
loc1 = ([0,4],[4,0],[-4,0],[0,-4])*150
loc2 = ([0,4],[4,0],[-4,0],[0,-4])*150
loc3 = ([0,4],[4,0],[-4,0],[0,-4])*150
#loc4 = ([0,4],[4,0],[-4,0],[0,-4])*150

In [358]:
col1 = ("red", "yellow", "blue","pink")*150
col2 = ("red", "yellow", "blue","white")*150
col3 = ("red", "yellow", "blue","green")*150
#col4 = ("red", "yellow", "blue","green")*150

In [359]:
df = pd.DataFrame(columns = ["col1","col2","col3","loc1","loc2","loc3", "testcol", "corrans"])
df.col1 = col1
df.col2 = col2
df.col3 = col3
#df.col4 = col4
df.loc1 = loc1
df.loc2 = loc2
df.loc3 = loc3
#df.loc4 = loc4

In [360]:
df.testcol = ["red"]*75 +["yellow"]*75 + ["blue"]*75 + ["green"]*75 + ["pink"]*75 + ["purple"]*75 + ["white"]*75 + ["orange"]*75
shuffle(df.testcol)

In [361]:
cols = [df.col1,df.col2,df.col3,df.loc1,df.loc2,df.loc3]
for i in cols:
    shuffle(i)

In [362]:
df = df[df.col1 != df.col2]
df = df[df.col1 != df.col3]

df = df[df.loc1 != df.loc2]
df = df[df.loc1 != df.loc2]
#df = df[df.col1 != df.col4]

df = df[df.col2 != df.col1]
df = df[df.col2 != df.col3]

df = df[df.loc2 != df.loc1]
df = df[df.loc2 != df.loc3]
#df = df[df.col2 != df.col4]

df = df[df.col3 != df.col2]
df = df[df.col3 != df.col1]

df = df[df.loc3 != df.loc2]
df = df[df.loc3 != df.loc1]
#df = df[df.col3 != df.col4]

#df = df[df.col4 != df.col2]
#df = df[df.col4 != df.col3]
#df = df[df.col4 != df.col1]

In [363]:
df.reset_index(inplace=True,level = None)
del df['index']

In [364]:
df.shape

(117, 8)

In [365]:
for index, row in df.iterrows():
    
    
    if row['col1'] == row['testcol'] and row['loc1']==[0,4]:
        row['corrans'] = 'down'
    elif row['col1'] == row['testcol'] and row['loc1']==[0,-4]:
        row['corrans'] = 'up'
    elif row['col1'] == row['testcol'] and row['loc1']==[4,0]:
        row['corrans'] = 'left'
    elif row['col1'] == row['testcol'] and row['loc1']==[-4,0]:
        row['corrans'] = 'right'
   
    if row['col2'] == row['testcol'] and row['loc2']==[0,4]:
        row['corrans'] = 'down'
    elif row['col2'] == row['testcol'] and row['loc2']==[0,-4]:
        row['corrans'] = 'up'
    elif row['col2'] == row['testcol'] and row['loc2']==[4,0]:
        row['corrans'] = 'left'
    elif row['col2'] == row['testcol'] and row['loc2']==[-4,0]:
        row['corrans'] = 'right'
        
    if row['col3'] == row['testcol'] and row['loc3']==[0,4]:
        row['corrans'] = 'down'
    elif row['col3'] == row['testcol'] and row['loc3']==[0,-4]:
        row['corrans'] = 'up'
    elif row['col3'] == row['testcol'] and row['loc3']==[4,0]:
        row['corrans'] = 'left'
    elif row['col3'] == row['testcol'] and row['loc3']==[-4,0]:
        row['corrans'] = 'right'

In [366]:
df = df[df.corrans.notnull()]

In [367]:
df.to_csv("coordinates2.csv",index=False)

In [368]:
df2 = pd.read_csv('coordinates2.csv')
df2 = df2.drop_duplicates()

In [369]:
print(df.shape)
print(df2.shape)

(38, 8)
(38, 8)

In [370]:
df2.to_excel("coordinates2.xlsx", index=False)

In [371]:
df2[20:]

      col1    col2    col3     loc1     loc2     loc3 testcol corrans
20    blue  yellow   green   [0, 4]  [0, -4]  [-4, 0]  yellow      up
21    pink   white     red   [0, 4]   [4, 0]  [-4, 0]     red   right
22     red  yellow    blue   [4, 0]  [-4, 0]  [0, -4]  yellow   right
23    blue  yellow     red  [-4, 0]   [0, 4]   [4, 0]  yellow    down
24    pink     red  yellow   [4, 0]  [-4, 0]  [0, -4]  yellow      up
25    blue     red   green   [4, 0]   [0, 4]  [-4, 0]     red    down
26  yellow    blue     red  [-4, 0]   [4, 0]   [0, 4]     red    down
27     red    blue  yellow  [0, -4]   [4, 0]  [-4, 0]  yellow   right
28    pink  yellow    blue  [0, -4]   [0, 4]   [4, 0]  yellow    down
29    pink    blue     red   [4, 0]  [0, -4]  [-4, 0]    blue      up
30    blue   white   green  [-4, 0]  [0, -4]   [0, 4]   white      up
31  yellow     red    blue  [0, -4]   [4, 0]  [-4, 0]     red    left
32    pink   white  yellow   [4, 0]  [-4, 0]   [0, 4]   white   right
33    pink   white   green   [4, 0]  [0, -4]  [-4, 0]   white      up
34    blue  yellow     red   [0, 4]  [-4, 0]   [4, 0]     red    left
35  yellow   white     red  [-4, 0]   [4, 0]   [0, 4]     red    down
36    pink     red   green  [-4, 0]   [0, 4]  [0, -4]     red    down
37     red   white   green  [0, -4]   [0, 4]  [-4, 0]   white    down